<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h3 class="x-large nav-title">{{ site.title }}</h3>
        </a>
        <!--<ul>
          <li><a href="{{ '/about' | prepend: site.url }}">About</a></li>
        </ul>-->
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
	
		<form id="formaction" class="formaction" method="POST">
			<input type="text" name="name" placeholder="Name">
			<input type="email" name="_replyto" placeholder="Email Address">
			<textarea name="message" placeholder="Your message"></textarea>
			<input type="hidden" name="_next" value="/thanks.html">
			<input type="hidden" name="_subject" value="New Message WebSupply">
			<input type="text" name="_gotcha" style="display:none">
			<input type="submit" value="Submit">
		</form>
		<script>
			var contactform =  document.getElementById('formaction');
			contactform.setAttribute('action', '//formspree.io/' + 'webSupply.co' + '@' + 'gmail' + '.' + 'com');
		</script>	

		<!--<h2 class="text-center">Contact: <a href="mailto:websupply.co@gmail.com" class="title margin-top-30">webSupply.co@gmail.com</a></h2>-->
      <!--<span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}
      </span>-->
    </footer>
  </body>
</html>
