<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <span class="x-large nav-title">{{ site.title }}</span>
        </a>
        <!--<ul>
          <li><a href="{{ '/about' | prepend: site.url }}">About</a></li>
        </ul>-->
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
		<h2 class="text-center">Contact: <a href="mailto:websupply.co@gmail.com" class="title margin-top-30">webSupply.co@gmail.com</a></h2>
      <!--<span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}
      </span>-->
    </footer>
  </body>
</html>
