---
layout: default
---
<article class="post{% if page.feature-img %} feature-image{% endif %}">
	<header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
		<h1 class="post-title">{{ page.title }}</h1> 
		{% if page.feature-img == null %}<div class="post-line"></div>{% endif %}
		<div class="catalogue-time text-align-center">
		<!--<span>Written by&nbsp;</span>{{ page.author }}
		<br>-->
		{% if page.date %}
		  <span class="small>Published on&nbsp;<time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time></span>
		  <br><br>
		{% endif %}
		</div> 
	</header>
	<section class="post-content">
	{{ content }}
	</section>
</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.url }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.url }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>

<!-- Disqus -->
{% if site.theme_settings.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}